extends layout

block content
 style.
      h1 {
          color: white;
      }
      h2 {
          color: white;
      }
      h3 {
          color: white;
      }
      p {
          color: white;
      }
  body(style="background-color: #7f0000")
  h1 Arts
  each major in majors
    h2 #{major.secondary}
    p Description : #{major.explanation}
    p Career Path: #{major.career}
    p Notable Person: #{major.famous}
    
  img(src= "http://i.imgur.com/xNTGxsi.png")
  img(src= "http://i.imgur.com/3tyQvOQ.png")
  img(src= "http://i.imgur.com/9xpbKbN.png")
