extends layout

block content
  style.
      h1 {
          color: black;
      }
      h2 {
          color: black;
      }
      h3 {
          color: black;
      }
      p {
          color: black;
      }
  body(style="background-color: #CCFFCC")

  h1 Psychology & Sociology
  h3 An examination of human cognition and psychology 
  each major in majors
    h2 #{major.secondary}
    p Description : #{major.explanation}
    p Career Path: #{major.career}
    p Notable Person: #{major.famous}

  img(src= "http://i.imgur.com/df9pVfh.png")
  img(src= "http://i.imgur.com/R5NIzok.png")