extends layout

block content
  h1 Psychology & Sociology
  h3 An examination of human cognition and psychology 
  each major in majors
    h2 #{major.secondary}
    p Description : #{major.explanation}
    p Career Path: #{major.career}
    p Notable Person: #{major.famous}