extends layout

block content

  style.
      h1 {
          color: #00FF00;
      }
      h2 {
          color: #00FF00;
      }
      h3 {
          color: #00FF00;
      }
      p {
          color: #00FF00;
      }
  body(style="background-color: black")
  h1 Computer Science & Computer Information Systems
  h3 Scientific and practical approach to computation and their applications
  each major in majors
    h2 #{major.secondary}
    p Description : #{major.explanation}
    p Career Path: #{major.career}
    p Notable Person: #{major.famous}
    
  img(src= "http://i.imgur.com/vkHsIwi.png")
  img(src= "http://i.imgur.com/LcXqK3f.png")
