extends layout

block content
  h1 Africana | American | Latin America Studies 
  h3 Scholarship of history, political & cultural movements, economies, and identies  
  each major in majors
    h2 #{major.secondary}
    p Description : #{major.explanation}
    p Career Path: #{major.career}
    p Notable Person: #{major.famous}