extends layout

block content
  h1 Mathematics & Physics 
  h3 Method of mathematical reasoning, experimentation, and observation
  each major in majors
    h2 #{major.secondary}
    p Description : #{major.explanation}
    p Career Path: #{major.career}
    p Notable Person: #{major.famous}