extends layout


block content
	body(style="background-color: #8E9399")
	h1 Sciences
	a(href="/science/computer")
		img(src='http://i.imgur.com/3L7JYi9.jpg' class= "img-thumbnail main-page-img")
	.text
		h3 Computer Science

	a(href="/science/math")
		img(src='http://i.imgur.com/Of3N0Pd.png' class= "img-thumbnail main-page-img")
	.text
		h3 Math and Physics
	a(href="/science/life")
		img(src='http://i.imgur.com/lbveWf0.jpg' class= "img-thumbnail main-page-img")
	.text
		h3 Life Sciences
