extends layout


block content
	body(style="background-color: green")
	h1 Sciences
	a(href="/science/computer")
		img(src='http://www.clipartlord.com/wp-content/uploads/2014/02/desktop-computer13.png' class= "img-thumbnail main-page-img" height=400 width=400)
	a(href="/quizform")
		p Math and Physics