extends layout

block content
	h1 Sciences
	a(href="/science/computer")
		img(src='http://i.imgur.com/eyae08v.png' class= "img-thumbnail main-page-img")
	.text
		h3 Computer Science

	a(href="/science/math")
		img(src='http://i.imgur.com/ftwVQvb.png' class= "img-thumbnail main-page-img")
	.text
		h3 Math and Physics