extends layout


block content
	body(style="background-color: #b2b247")
	h1 Social Studies
	a(href="/ss/cognitive")
		img(src='http://i.imgur.com/53Uu7Nq.jpg' class= "img-thumbnail main-page-img")
	.text
		h3 Psychology and Sociology

	a(href="/ss/continental")
		img(src='http://i.imgur.com/jhiMDav.jpg' class= "img-thumbnail main-page-img")
	.text
		h3 Continental Studies

