extends layout

block content
        h1 Social Studies
        a(href="/ss/science")
                img(src='http://i.imgur.com/53Uu7Nq.jpg' class= "img-thumbnail main-page-img")
	.text
		h3 Psychology and Sociology
        a(href="/ss/continental")
                p Continental
