extends layout

block content
        h1 Social Studies
        a(href="/ss/science")
                img(src='http://www.clipartlord.com/wp-content/uploads/2014/02/desktop-computer13.png' class= "img-thumbnail main-page-img")
        a(href="/ss/continental")
                p Continental
